.checkbox {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid rgba(110, 110, 110, 0.2);
    border-radius: 50%;
    padding-top: 4px;
    cursor: pointer;

    &>img {
        visibility: hidden;
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }

    &.active>img {
        visibility: visible;
    }
}